*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family:Arial,helvetica,sans-serif;
    line-height:1.6;
    background-color: #614497;
    color:#333333;
    padding:20px;
}
header{
    background-color:#6058b9;
    color:#333333;
    padding:30px;
    text-align:center;
}
nav{
    background-color:#fdfbfb;
    justify-content"center;
    gap:25px;
    margin-top:20px;
    flex-wrap:wrap;
    display:flex;
}
